{% extends '::base1.html.twig' %}
{% block title %}Ver Mapa{% endblock %}
{% block contenido %}
		<section id="mapasocio">
			<iframe width="900" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Calle+de+Regina+centro+DF&amp;aq=&amp;sll=19.423494,-99.124146&amp;sspn=0.024567,0.042014&amp;ie=UTF8&amp;hq=&amp;hnear=Regina,+Centro,+Cuauht%C3%A9moc,+Ciudad+de+M%C3%A9xico,+Distrito+Federal&amp;t=m&amp;z=14&amp;ll=19.427533,-99.134066&amp;output=embed"></iframe>
			<br />
			<small><a href="https://maps.google.com.mx/maps?f=q&amp;source=embed&amp;hl=es&amp;geocode=&amp;q=Calle+de+Regina+centro+DF&amp;aq=&amp;sll=19.423494,-99.124146&amp;sspn=0.024567,0.042014&amp;ie=UTF8&amp;hq=&amp;hnear=Regina,+Centro,+Cuauht%C3%A9moc,+Ciudad+de+M%C3%A9xico,+Distrito+Federal&amp;t=m&amp;z=14&amp;ll=19.427533,-99.134066" style="color:#0000FF;text-align:left" target="_blank">Ver mapa más grande</a></small>
		</section>
{% endblock %}